// $medium : 500px;
$primary : rgb(12, 12, 207);
$padding: 20x;
$base-font-size: 14px;
@import "libs/mixins.scss";
@import "libs/reset.scss";
@import "libs/reponsive.scss";
@import "libs/function.scss";




body {
    padding: $padding + 10;
    background: rgb(209, 209, 209);
}

p {
    padding: 20px;
}

.table {
    width: 100%;

    td {
        border: 1px solid #ccc;
    }

    thead {
        background: #000;
        color: #fff;
    }

}

%btn {
    // padding: 5px 12px;
    padding: rem(5, 16) rem(12);
    border-radius: 3px;

}

.btn {
    @extend %btn;
    background: $primary;
    @debug lightness($primary);
    // @if (2 > 1 and 3 > 4 and not 4 > 6){
        @if(lightness($primary)< 50%) {
            color: white;
        }else {
            color: black;
        }
    // }
   
    // color: white;
    text-decoration: none;

    &:hover {
        background: darken($primary, 20);
        // background: lighten($primary, 20);
        background: rgba($primary, 0.5);

    }

    .theme-vert & {
        background: green;
    }
}

.big {
    font-size: 2rem;
    text-transform: uppercase;
}

@media only screen and (max-width: 1200px) {
    // padding: auto;
}

// .call-to-action {
//     @extend .btn;
// }

.btn-danger {
    @extend .btn;
    background: red;
    &:hover {
        background: rgb(123, 4, 4);
    }
}
%shadow {
    box-shadow: 0px 1px 5px rgba(0,0,0,0.2);

}
.card {
    @extend %shadow;
    padding: 10px;
    // width: 100%;
    // margin-left: 10px;
    // margin-right: 10px;
    border-radius: 3px;
    // @include rotate(60deg);
    position: relative;
    @include transform(rotate(0deg));
    background: white;
    @include triangle

}



.card-action {
    @extend .btn;
}

.card-cancel {
    @extend .btn-danger;
}

.card-actions {
    display: flex;
}

@for $i from 1 through 4 {
    .m-#{$i} {
        margin: $i * 0.25rem;
    }
}

$animals: bear, lion, camel;

@each $animal in $animals {
    .icon-#{$animal} {
        background: url(img/#{$animal}.png);
    }
}
$categories:
chien rgb(94, 93, 93),
chat rgb(242, 194, 0),
poisson rgb(194, 194, 255);

@each $category in $categories {
    .#{nth($category,1)} {
        background: nth($category, 2);
        @if (lightness(nth($category, 2)) > 50%) { // Vérifie la luminosité de la couleur de chaque catégorie
            color: white;
          } else {
            color: black;
          }
    }
}




















@media screen {
    // padding: 10px;
}

@media #{$medium-down} {
    .card-actions {
        display: block;
    }
    .btn {
        width: 100%
    }
}